@media screen and (min-width: 1200px) and (max-width: 1400px) {

    .nav__list li {
        margin-inline: -2px;
        caret-color: none;
    }

    .nav__menu {
        display: flex;
        justify-content: center;
        width: 100%;
        caret-color: none;
    }

    .nav__listed,
    .nav__list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    }

    .image-wrapper::before {
        top: 480px;

    }

    #hero-image {
        height: 100vh;
    }

    .first-col,
    .second-col {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    #name {
        margin-top: -5px;
    }

    #about {
        height: 100vh;
    }

    #whoiam {
        margin: 0 auto;
        padding: 10%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .technologies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .centerText20 {
        margin-top: 10px;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;

    }

    #proj {
        height: auto;
    }

    #tech-row {
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }

    .logos {
        width: 100%;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .first-col,
    .second-col {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    #tech-row {
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }

    #role-btn {
        width: 120px;
    }

    #about {
        height: 110vh;

    }

    #whoiam {
        height: 100vh;
        margin: 0 auto;
        padding: 5%;
    }

    #blog {
        height: 110vh;

    }

    #proj {
        height: auto;
    }


    .nav__list li {
        margin-inline: -1px;
        caret-color: none;
    }

    .nav__menu {
        display: flex;
        justify-content: center;
        width: 100%;
        caret-color: none;

    }

    .nav__listed,
    .nav__list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    #hero-image {
        padding: 8%;
        margin: 0 auto;
    }

    .first-col {
        font-size: 15px;
    }

    .image-wrapper img {
        width: 180px;
    }

    .nav__content {

        row-gap: 1rem;
        width: 90%;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;

    }

    #proj {
        height: auto;
    }

    #tech-row {
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }

    .logos {
        width: 100%;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

}

@media screen and (min-width: 900px) and (max-width: 1000px) {

    #hero-image {
        padding: 4%;
    }

    .image-wrapper img {
        width: 160px;
    }

    .logos {
        width: 100%;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

    .abovethefooter {
        margin: 0 auto;
        padding: 0;
    }

    .section {
        margin: 0;
        padding: 10;
    }


}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .nav__list li {
        margin-inline: -2px;
        caret-color: none;
    }

    .nav__menu {
        display: flex;
        justify-content: center;
        width: 100%;
        caret-color: none;
    }

    .nav__listed,
    .nav__list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }


    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        height: 12%;
    }

    .first-col,
    .second-col {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    #role-btn {
        width: 120px;
    }

    .p-2 {
        font-size: 13px;
    }

    #name {
        font-size: 25px;
    }

    #about {
        height: 170vh;
    }

    .textto {
        padding: 20%;
    }

    #blog {
        height: 110vh;
    }

    #blog-col1 {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    #centerText2 {
        font-size: 30px;
    }

    #blogtext1 {
        font-size: 13px;
    }

    .blog-wrapper img {
        width: 150px;
    }

    .blog-wrapper .img1 {
        height: 17rem;
        width: 12rem;

    }

    .blog-wrapper .img3 {
        height: 20rem;
        width: 12rem;

    }

    #tooling {
        height: 110vh;
    }

    .technologies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    #tech-row {
        margin: 0 auto;
        padding: 0;
    }

    #proj {
        height: auto;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;

    }

    .project-info button {
        width: 110px;
        font-size: 13px;
        height: 40px;
    }

    #proj {
        height: auto;
    }

    .logos {
        width: 100%;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }


}


@media screen and (min-width: 760px) and (max-width: 800px) {

    #hero-image {
        padding: 4%;
    }

    .first-col,
    .second-col {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .image-wrapper img {
        width: 150px;
    }

    #about {
        height: 73rem;
    }

    .blog-wrapper img {
        width: 100px;
    }

    .blog-wrapper .img1 {
        height: 15rem;
        width: 10rem;

    }

    .blog-wrapper .img3 {
        height: 17rem;
        width: 10rem;

    }

    #tech-row {
        margin: 0 auto;
        padding: 0;
    }

    .text {
        font-size: 12px;
    }

    #tooling {
        margin: 0 auto;
        padding: 5%;
    }

    .section {
        margin: 0 auto;
        margin-left: 5%;
    }

    .logos {
        width: 100%;
        height: 12rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

}

@media screen and (min-width: 600px) and (max-width: 760px) {
    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        height: 13vh;
    }

    .nav__name img {
        caret-color: transparent;
    }

    .nav__menu,
    .nav__listed {
        height: 100vh;
        padding: 10px;
        padding-top: 6%;
    }

    .nav__list li {
        font-size: 25px;
        caret-color: transparent;
    }

    #home {
        height: 110vh;
        background-color: #ecf3fe;
    }


    .header__logo {
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }

    .header__toggle {
        font-size: 40px;
    }



    .first-col {
        order: 2;
        margin: 0 auto;
        padding: 5%;
        font-size: 20px;
        text-align: center;

        justify-content: center;
        display: flex;
        align-items: center;
    }

    #name {
        padding: 0;
        margin: 0 auto;
    }

    #role-btn {
        width: 200px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: flex;
    }

    .p-2 p {
        text-align: center;
        display: center;
        justify-content: center;
        align-items: center;
    }

    #role1 {
        padding-bottom: 2%;
    }

    #name,
    #role,
    #role1 {
        text-align: center;
    }

    .image-wrapper {
        padding-top: 10%;
    }

    .image-wrapper::before {
        top: 400px;

    }

    #about,
    #whoiam {
        height: 110vh;
        padding: 5%;
        margin: 0 auto;
    }

    /* #centerText {
        padding-top: 15%;
    } */

    #blog {
        height: 155vh;
    }

    #blog-col1,
    #blog-col {
        padding: 10%;
    }

    #blog-col {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: center;
    }

    #blog-col p {
        text-align: center;
    }

    #centerText2 {
        text-align: center;
    }

    .textto {
        padding-top: 10%;
    }


    #tooling,
    .technologies {
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 100vh;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #tech-row {
        margin: 0 auto;
        padding: 0;
        padding: 10px;
        font-size: 13px;
    }

    #proj {
        height: auto;
    }

    #row-projects {
        flex-direction: column;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    #proj .project-info h3 {
        height: auto;
        font-size: 40px;
    }

    #proj .project-info p {
        height: auto;
        font-size: 20px;
    }

    #proj .project-info button {
        height: auto;
        font-size: 20px;
        width: 200px;
        height: 70px;
        font-size: 25px;
    }

    .nav__listeed {
        padding: 0;
        margin: 0 auto;
    }

    .nav__listid {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        list-style-type: none;

    }

    #f-row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    #f-col {
        flex: 1;
        padding: 0 10px;
    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;

    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;
    }

    .section {
        margin: 0 auto;
        margin-left: 5%;
    }

    .f-nav__social {

        margin: 0 auto;
        padding: 0;
    }

    .logos {
        width: 100%;
        height: 13rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }


}

@media screen and (min-width: 500px) and (max-width: 600px) {

    body {
        margin: 0 auto;
        width: auto;
    }

    .container {
        width: 100%;
    }

    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        height: 13vh;
        caret-color: transparent;
    }


    .nav__menu,
    .nav__listed {
        height: 100vh;
        padding: 10px;
        padding-top: 6%;
    }

    .nav__list li {
        font-size: 30px;
    }

    #home,
    #hero-image {
        height: 120vh;
        background-color: #ecf3fe;
    }


    .header__logo {
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }

    .header__toggle {
        font-size: 40px;
    }

    .second-col {
        padding: 10%;
    }


    .first-col {
        order: 2;
        margin: 0 auto;
        padding: 5%;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 0;
    }

    #name {
        padding: 0;
        margin: 0 auto;
    }

    #role-btn {
        width: 200px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: flex;
        border-radius: 10px;
    }

    .p-2 p {
        text-align: center;
        display: center;
        justify-content: center;
        align-items: center;
    }

    #name,
    #role,
    #role1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .image-wrapper::before {
        top: 420px;

    }

    #about,
    #whoiam {
        height: auto;
        padding: 15%;
        margin: 0 auto;


    }


    #blog {
        height: 155vh;
    }

    #blog-col1,
    #blog-col {
        padding: 10%;
    }

    #blog-col {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: center;
    }

    #blog-col p {
        text-align: center;
    }

    #blogtext1 {
        font-size: 16px;
    }

    #centerText2 {
        text-align: center;
    }



    .textto {
        padding-bottom: 10%;
        margin: 0 auto;
    }

    #card1,
    #card2,
    #card3 {
        width: 700px;
        height: 300px;
    }

    #card1 h5,
    #card2 h5,
    #card3 h5 {
        font-size: 25px;
    }

    #card1 p,
    #card2 p,
    #card3 p {
        font-size: 15px;
    }


    #tooling {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        height: auto;
    }

    .technologies {
        margin: 0;
        padding: auto;
        padding: 5%;
        height: auto;
        padding-top: 10%;
    }

    #tech-row {
        display: flex;
        margin: 0 auto;
        padding: 0;
    }

    #tech-hover {
        width: 50%;
        height: 75px;

    }

    #tech-col {
        height: 70px;

    }

    #tech-col img {
        height: auto;
        width: 40px;
    }

    #proj {
        height: auto;
    }

    #row-projects {
        flex-direction: column;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    #proj .project-info h3 {
        height: auto;
        font-size: 40px;
    }

    #proj .project-info p {
        height: auto;
        font-size: 20px;
    }

    #proj .project-info button {
        height: auto;
        font-size: 20px;
        width: 200px;
        height: 70px;
        font-size: 25px;
    }

    .nav__listeed {
        padding: 0;
        margin: 0 auto;
    }

    .nav__listid {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        list-style-type: none;

    }

    #f-row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    #f-col {
        flex: 1;
        padding: 0 10px;
    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;

    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;
    }

    .section {
        margin: 0 auto;
        margin-left: 5%;
    }

    .f-nav__social {

        margin: 0 auto;
        padding: 0;
    }

    .logos {
        width: 100%;
        height: 12rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

}





/* dito na nag bago lahat */
@media screen and (max-width: 578px) {

    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        overflow-x: hidden;
        /* Hide horizontal overflow if necessary */
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        height: 13vh;
        padding: 15px;
        caret-color: transparent;
    }

    .header__logo {
        font-size: 25px;
    }

    .header__toggle {
        font-size: 2.5rem;
    }

    .nav__list li {
        font-size: 30px;
    }

    .nav__menu,
    .nav__listed {
        height: 100vh;
        padding: 10px;
        padding-top: 6%;
        width: 100%;
        overflow: hidden;
    }

    #nav-menu {
        height: 100%;
        overflow: hidden;
        /* Changed to auto for scrolling if needed */
    }

    .nav__perfil img {
        width: 100px;
        height: auto;
    }

    .nav__close {
        font-size: 50px;
    }

    .nav__list a {
        font-size: 35px;
    }

    #home,
    #hero-image,
    #whoiam,
    #about,
    #blog,
    #tooling,
    #proj {
        width: 100%;
        /* Make these sections full width */
        height: auto;
        /* Adjust height as needed */
    }

    .modal,
    .modal-dialog,
    .modal-backdrop,
    .modal-content {
        width: 100%;
        /* Full width for modal elements */
        max-width: 100vw;
        /* Ensure modal doesn't exceed viewport width */
    }

    /* Adjustments for specific elements */
    .image-wrapper img {
        width: 100%;
        /* Make images responsive */
    }

    .card-body,
    #web,
    #web-row,
    #blogtext1,
    #blog-col1,
    .blog-wrapper,
    .project-item,
    .project-content {
        width: 100%;
    }

    /* Ensure footer and other elements fit within viewport */
    #f-row,
    #f-col,
    .footer,
    .abovethefooter,
    .logos {
        width: 100%;
    }

    /* Adjust card and blog image sizes */
    #card1,
    #card2,
    #card3,
    .blog-wrapper img {
        width: 100%;
        height: auto;
    }

    #hero-image {
        height: 115vh;

    }

    .image-wrapper {
        width: 180px;
        height: 250px;
    }

    .image-wrapper .img2 {
        height: 18rem;
    }

    .image-wrapper .img1,
    .image-wrapper .img3 {
        height: 16rem;
    }

    .second-col {
        padding: 10%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: flex;
    }


    .first-col {
        order: 2;
        margin: 0 auto;
        padding: 5%;
        padding-top: 20%;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 0;
    }

    #about {
        padding: 5%;
    }

    #whoiam {
        margin: 0 auto;
        height: auto;
        display: block;

    }

}

@media screen and (max-width: 500px) {

    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        overflow-x: hidden;
        /* Hide horizontal overflow if necessary */
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        height: 11vh;
        padding: 15px;
        caret-color: transparent;
    }

    .header__logo {
        font-size: 20px;
        text-decoration: none;
        font-weight: bold;
    }

    .header__toggle {
        font-size: 2rem;
    }


    .nav__menu,
    .nav__listed {
        height: 100vh;
        padding: 0;
        padding-top: 6%;
        width: 100%;
        overflow: hidden;
    }

    #nav-menu {
        height: 100%;
        overflow: hidden;
        /* Changed to auto for scrolling if needed */
    }

    .nav__perfil img {
        width: 100px;
        height: auto;
    }

    .nav__close {
        font-size: 35px;
    }

    .nav__list a {
        font-size: 25px;
    }

    #home,
    #hero-image,
    #whoiam,
    #about,
    #blog,
    #tooling,
    #proj {
        width: 100%;
        /* Make these sections full width */
        height: auto;
        /* Adjust height as needed */
    }

    .modal,
    .modal-dialog,
    .modal-backdrop,
    .modal-content {
        width: 100%;
        /* Full width for modal elements */
        max-width: 100vw;
        /* Ensure modal doesn't exceed viewport width */
    }

    /* Adjustments for specific elements */
    .image-wrapper img {
        width: 100%;
        /* Make images responsive */
    }

    .card-body,
    #web,
    #web-row,
    #blogtext1,
    #blog-col1,
    .blog-wrapper,
    .project-item,
    .project-content {
        width: 100%;
    }

    /* Ensure footer and other elements fit within viewport */
    #f-row,
    #f-col,
    .footer,
    .abovethefooter,
    .logos {
        width: 100%;
    }

    /* Adjust card and blog image sizes */
    #card1,
    #card2,
    #card3,
    .blog-wrapper img {
        width: 100%;
        height: auto;
    }

    #hero-image {
        height: 100vh;
        margin: 0 auto;
        padding: 0;

    }

    .image-wrapper::before {
        top: 400px;
    }

    .image-wrapper {
        width: 150px;
        height: 250px;
    }

    .image-wrapper .img2 {
        height: 18rem;
    }

    .image-wrapper .img1,
    .image-wrapper .img3 {
        height: 16rem;
    }

    .second-col {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: flex;
        padding: 0;
        padding-top: 30%;
        height: 60vh;
    }
    #first-col{
        padding: 5%;
    }
    .first-col {
        order: 2;
        margin: 0 auto;
        padding: 0;
        font-size: 18px;
        text-align: center;
        height: auto;
        width: 100%;
        height: 50vh;
    }

    #name {
        margin-top: -10%;
        font-size: 28px;
    }

    #role,
    #role1{
        font-size: 18px;
    }

    #name,
    #role,
    #role1 {
        text-align: center;
        width: 100%;
    }

    #role-btn {
        width: 150px;
        margin-top: 5%;
    }

    #about {
        padding: 5%;
    }

    #whoiam {
        margin: 0 auto;
        height: 125vh;
        display: block;
        padding: 5%;
    }

    .blog-wrapper {
        width: 70%;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .blog-wrapper .img1 {
        width: 12rem;
    }
    .blog-wrapper .img3{
        width: 14rem;
    }

    .textto {
        padding: 15%;
    }
    
    #centerText2{
        width: 100%;
        font-size: 30px;
    }

    #blog-col {
        text-align: center;
        padding: 5%;
        padding-top: 10%;
    }

    #tooling {
        margin: 0 auto;
        padding: 0;
        height: auto;
    }

    .technologies {
        margin: 0;
        padding: auto;
        padding: 5%;
        height: auto;
        padding-top: 10%;
    }

    #tech-row {
        display: flex;
        margin: 0 auto;
        padding: 0;
    }

    #tech-hover {
        width: 50%;
        height: 75px;

    }

    #tech-col {
        height: 70px;

    }

    #tech-col img {
        height: auto;
        width: 40px;
    }

    /* projects */

    #proj {
        height: auto;
    }

    #row-projects {
        flex-direction: column;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    #proj .project-info h3 {
        height: auto;
        font-size: 30px;
    }

    #proj .project-info p {
        height: auto;
        font-size: 20px;
    }

    #proj .project-info button {
        height: auto;
        font-size: 18px;
        width: 200px;
        height: 70px;
        border-radius: 10px;
    }

    .nav__listeed {
        padding: 0;
        margin: 0 auto;
    }

    .nav__listid {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        list-style-type: none;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;

    }

    #f-row {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;
        height: auto;
    }

    #f-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;
    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;

    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;
    }

    .section {
        margin: 0 auto;
    }

    .f-nav__social {

        margin: 0 auto;
        padding: 0;
    }

    .logos {
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 140px;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }


}

@media screen and (max-width: 400px) {

    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        overflow-x: hidden;
        /* Hide horizontal overflow if necessary */
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        height: 11vh;
        padding: 15px;
        caret-color: transparent;
    }

    .header__logo {
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
    }

    .header__toggle {
        font-size: 2rem;
    }

    .nav__content,
    .nav__list {
        margin: 0 auto;
        padding: 0;
    }

    .nav__content {
        padding: 5%;
    }

    .nav__menu,
    .nav__listed {
        height: 100vh;
        margin: 0 auto;
        padding-top: 6%;
        width: 100%;
        overflow: hidden;
    }

    #nav-menu {
        height: 100%;
        overflow: hidden;
        /* Changed to auto for scrolling if needed */
    }

    .nav__perfil img {
        width: 100px;
        height: auto;
    }

    .nav__close {
        font-size: 35px;
    }

    .nav__list a {
        font-size: 25px;
    }

    #home,
    #hero-image,
    #whoiam,
    #about,
    #blog,
    #tooling,
    #proj {
        width: 100%;
        /* Make these sections full width */
        height: auto;
        /* Adjust height as needed */
    }

    .modal,
    .modal-dialog,
    .modal-backdrop,
    .modal-content {
        width: 100%;
        /* Full width for modal elements */
        max-width: 100vw;
        /* Ensure modal doesn't exceed viewport width */
    }

    /* Adjustments for specific elements */
    .image-wrapper img {
        width: 100%;
        /* Make images responsive */
    }

    .card-body,
    #web,
    #web-row,
    #blogtext1,
    #blog-col1,
    .blog-wrapper,
    .project-item,
    .project-content {
        width: 100%;
    }

    /* Ensure footer and other elements fit within viewport */
    #f-row,
    #f-col,
    .footer,
    .abovethefooter,
    .logos {
        width: 100%;
    }

    /* Adjust card and blog image sizes */
    #card1,
    #card2,
    #card3,
    .blog-wrapper img {
        width: 100%;
        height: auto;
    }

    #hero-image {
        height: 115vh;
        padding: 0;
        margin: 0 auto;

    }

    .image-wrapper::before {
        top: 350px;
    }

    .image-wrapper {
        width: 140px;
        height: 250px;
    }

    .image-wrapper .img2 {
        height: 18rem;
    }

    .image-wrapper .img1,
    .image-wrapper .img3 {
        height: 16rem;
    }

    .second-col {
        padding-top: 15%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: flex;
        height: 60vh;
    }

    .first-col {
        order: 2;
        margin: 0;
        font-size: 16px;
        text-align: center;
        height: 50vh;
        padding-top: -10%;

    }

    #name {
        padding: 0;
        margin: 0;
    }

    #name,
    #role,
    #role1 {
        text-align: center;
    }

    #role-btn {
        width: 150px;
    }

    #about {
        padding: 5%;
    }

    #whoiam {
        margin: 0 auto;
        height: auto;
        display: block;

    }

    .textto {
        padding: 15%;
    }

    #blog-col {
        text-align: center;
        padding: 10%;
    }

    #tooling {
        margin: 0 auto;
        padding: 0;
        height: auto;
    }

    .technologies {
        margin: 0;
        padding: auto;
        padding: 5%;
        height: auto;
        padding-top: 10%;
    }

    #tech-row {
        display: flex;
        margin: 0 auto;
        padding: 0;
    }

    #tech-hover {
        width: 50%;
        height: 75px;

    }

    #tech-col {
        height: 70px;

    }

    #tech-col img {
        height: auto;
        width: 40px;
    }

    /* projects */

    #proj {
        height: auto;
    }

    #row-projects {
        flex-direction: column;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    #proj .project-info h3 {
        height: auto;
        font-size: 40px;
    }

    #proj .project-info p {
        height: auto;
        font-size: 20px;
    }

    #proj .project-info button {
        height: auto;
        font-size: 20px;
        width: 200px;
        height: 70px;
        font-size: 25px;
    }

    .nav__listeed {
        padding: 0;
        margin: 0 auto;
    }

    .nav__listid {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        list-style-type: none;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;

    }

    #f-row {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;
        height: auto;
    }

    #f-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;
    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;

    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;
    }

    .section {
        margin: 0 auto;
    }

    .f-nav__social {

        margin: 0 auto;
        padding: 0;
    }

    .logos {
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 140px;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }


}