@media screen and (min-width: 1200px) and (max-width: 1400px) {

    .nav__list li {
        margin-inline: -2px;
        caret-color: none;
    }

    .nav__menu {
        display: flex;
        justify-content: center;
        width: 100%;
        caret-color: none;
    }

    .nav__listed,
    .nav__list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    }

    .image-wrapper::before {
        top: 480px;

    }

    #hero-image {
        height: 100vh;
    }

    .first-col,
    .second-col {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    #name {
        margin-top: -5px;
    }

    #about {
        height: 100vh;
    }

    #whoiam {
        margin: 0 auto;
        padding: 10%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .technologies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .centerText20 {
        margin-top: 10px;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;

    }

    #proj {
        height: auto;
    }

    #tech-row {
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }

    .logos {
        width: 100%;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .first-col,
    .second-col {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    #tech-row {
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }

    #role-btn {
        width: 120px;
    }

    #about {
        height: 110vh;

    }

    #whoiam {
        height: 100vh;
        margin: 0 auto;
        padding: 5%;
    }

    #blog {
        height: 110vh;

    }

    #proj {
        height: auto;
    }


    .nav__list li {
        margin-inline: -1px;
        caret-color: none;
    }

    .nav__menu {
        display: flex;
        justify-content: center;
        width: 100%;
        caret-color: none;

    }

    .nav__listed,
    .nav__list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    #hero-image {
        padding: 8%;
        margin: 0 auto;
    }

    .first-col {
        font-size: 15px;
    }

    .image-wrapper img {
        width: 180px;
    }

    .nav__content {

        row-gap: 1rem;
        width: 90%;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;

    }

    #proj {
        height: auto;
    }

    #tech-row {
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }

    .logos {
        width: 100%;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

}

@media screen and (min-width: 900px) and (max-width: 1000px) {

    #hero-image {
        padding: 4%;
    }

    .image-wrapper img {
        width: 160px;
    }

    .logos {
        width: 100%;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

    .abovethefooter {
        margin: 0 auto;
        padding: 0;
    }

    .section {
        margin: 0;
        padding: 10;
    }


}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .nav__list li {
        margin-inline: -2px;
        caret-color: none;
    }

    .nav__menu {
        display: flex;
        justify-content: center;
        width: 100%;
        caret-color: none;
    }

    .nav__listed,
    .nav__list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }


    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        height: 12%;
    }

    .first-col,
    .second-col {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    #role-btn {
        width: 120px;
    }

    .p-2 {
        font-size: 13px;
    }

    #name {
        font-size: 25px;
    }

    #about {
        height: 170vh;
    }

    .textto {
        padding: 20%;
    }

    #blog {
        height: 110vh;
    }

    #blog-col1 {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    #centerText2 {
        font-size: 30px;
    }

    #blogtext1 {
        font-size: 13px;
    }

    .blog-wrapper img {
        width: 150px;
    }

    .blog-wrapper .img1 {
        height: 17rem;
        width: 12rem;

    }

    .blog-wrapper .img3 {
        height: 20rem;
        width: 12rem;

    }

    #tooling {
        height: 110vh;
    }

    .technologies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    #tech-row {
        margin: 0 auto;
        padding: 0;
    }

    #proj {
        height: auto;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;

    }

    .project-info button {
        width: 110px;
        font-size: 13px;
        height: 40px;
    }

    #proj {
        height: auto;
    }

    .logos {
        width: 100%;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }


}


@media screen and (min-width: 760px) and (max-width: 800px) {

    #hero-image {
        padding: 4%;
    }

    .first-col,
    .second-col {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .image-wrapper img {
        width: 150px;
    }

    #about {
        height: 73rem;
    }

    .blog-wrapper img {
        width: 100px;
    }

    .blog-wrapper .img1 {
        height: 15rem;
        width: 10rem;

    }

    .blog-wrapper .img3 {
        height: 17rem;
        width: 10rem;

    }

    #tech-row {
        margin: 0 auto;
        padding: 0;
    }

    .text {
        font-size: 12px;
    }

    #tooling {
        margin: 0 auto;
        padding: 5%;
    }

    .section {
        margin: 0 auto;
        margin-left: 5%;
    }

    .logos {
        width: 100%;
        height: 12rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

}

@media screen and (min-width: 600px) and (max-width: 760px) {
    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    }

    .nav__menu,
    .nav__listed {
        height: 100vh;
        padding: 10px;
        padding-top: 6%;
    }

    .nav__list li {
        font-size: 20px;
    }

    #home {
        height: 100vh;
        background-color: #ecf3fe;
    }


    .header__logo {
        text-decoration: none;
        font-weight: bold;
    }



    .first-col {
        order: 2;
        margin: 0 auto;
        padding: 5%;
        font-size: 20px;
        text-align: center;

        justify-content: center;
        display: flex;
        align-items: center;
    }

    #name {
        padding: 0;
        margin: 0 auto;
    }

    #role-btn {
        width: 200px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: flex;
    }

    .p-2 p {
        text-align: center;
        display: center;
        justify-content: center;
        align-items: center;
    }

    #name,
    #role,
    #role1 {
        text-align: center;
    }

    .image-wrapper::before {
        top: 400px;

    }

    #about,
    #whoiam {
        height: 110vh;
        padding: 5%;
        margin: 0 auto;
    }

    /* #centerText {
        padding-top: 15%;
    } */

    #blog {
        height: 155vh;
    }

    #blog-col1,
    #blog-col {
        padding: 10%;
    }

    #blog-col {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: center;
    }

    #blog-col p {
        text-align: center;
    }

    #centerText2 {
        text-align: center;
    }

    .textto {
        padding-top: 10%;
    }


    #tooling,
    .technologies {
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 100vh;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #tech-row {
        margin: 0 auto;
        padding: 0;
        padding: 10px;
        font-size: 13px;
    }

    #proj {
        height: auto;
    }

    #row-projects {
        flex-direction: column;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    #proj .project-info h3 {
        height: auto;
        font-size: 40px;
    }

    #proj .project-info p {
        height: auto;
        font-size: 20px;
    }

    #proj .project-info button {
        height: auto;
        font-size: 20px;
        width: 200px;
        height: 70px;
        font-size: 25px;
    }

    .nav__listeed {
        padding: 0;
        margin: 0 auto;
    }

    .nav__listid {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        list-style-type: none;

    }

    #f-row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    #f-col {
        flex: 1;
        padding: 0 10px;
    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;

    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;
    }

    .section {
        margin: 0 auto;
        margin-left: 5%;
    }

    .f-nav__social {

        margin: 0 auto;
        padding: 0;
    }

    .logos {
        width: 152vh;
        height: 13rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }


}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    }

    .nav__menu,
    .nav__listed {
        height: 100vh;
        padding: 10px;
        padding-top: 6%;
    }

    .nav__list li {
        font-size: 20px;
    }

    #home {
        height: 120vh;
        background-color: #ecf3fe;
    }


    .header__logo {
        text-decoration: none;
        font-weight: bold;
    }

    .second-col {
        padding: 10%;
    }


    .first-col {
        order: 2;
        margin: 0 auto;
        padding: 5%;
        font-size: 20px;
        text-align: center;

        justify-content: center;
        display: flex;
        align-items: center;
    }

    #name {
        padding: 0;
        margin: 0 auto;
    }

    #role-btn {
        width: 200px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: flex;
    }

    .p-2 p {
        text-align: center;
        display: center;
        justify-content: center;
        align-items: center;
    }

    #name,
    #role,
    #role1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .image-wrapper::before {
        top: 420px;

    }

    #about,
    #whoiam {
        height: auto;
        padding: 15%;
        margin: 0 auto;


    }


    #blog {
        height: 155vh;
    }

    #blog-col1,
    #blog-col {
        padding: 10%;
    }

    #blog-col {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: center;
    }

    #blog-col p {
        text-align: center;
    }

    #blogtext1 {
        font-size: 16px;
    }

    #centerText2 {
        text-align: center;
    }



    .textto {
        padding-bottom: 10%;
        margin: 0 auto;
    }

    #card1,
    #card2,
    #card3 {
        width: 700px;
        height: 300px;
    }

    #card1 h5,
    #card2 h5,
    #card3 h5 {
        font-size: 25px;
    }

    #card1 p,
    #card2 p,
    #card3 p {
        font-size: 15px;
    }


    #tooling,
    .technologies {
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 100vh;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #tech-row {
        margin: 0 auto;
        padding: 0;
        padding: 10px;
        font-size: 13px;
    }

    #proj {
        height: auto;
    }

    #row-projects {
        flex-direction: column;
    }

    .project-info {
        height: 25rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    #proj .project-info h3 {
        height: auto;
        font-size: 40px;
    }

    #proj .project-info p {
        height: auto;
        font-size: 20px;
    }

    #proj .project-info button {
        height: auto;
        font-size: 20px;
        width: 200px;
        height: 70px;
        font-size: 25px;
    }

    .nav__listeed {
        padding: 0;
        margin: 0 auto;
    }

    .nav__listid {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        list-style-type: none;

    }

    #f-row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    #f-col {
        flex: 1;
        padding: 0 10px;
    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;

    }

    #f-col ion-icon {
        color: var(--white-color);
        width: 15px;
    }

    .section {
        margin: 0 auto;
        margin-left: 5%;
    }

    .f-nav__social {

        margin: 0 auto;
        padding: 0;
    }

    .logos {
        width: 152vh;
        height: 12rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

}

@media screen and (max-width: 578px) {

    body {
        max-width: 100vw;
        width: 100vw;
        height: auto;
    }

    .html {
        max-width: 100vw;
        width: 100vw;
        height: auto;
    }

    .header {
        height: 20vh;
        padding: 50px;
        caret-color: transparent;
    }

    .header__logo {
        font-size: 30px;
        caret-color: transparent;
    }

    .header__toggle {
        font-size: 3.5rem;
    }

    #nav-menu {
        height: 100%;
        overflow: hidden;

    }

    .nav__perfil {
        height: 15vh;
        padding: 5%;
        caret-color: transparent;
    }

    .nav__perfil img {
        width: 100px;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }


    .nav__close {
        font-size: 50px;
        margin-top: 3%;
        margin-right: 3%;
    }

    .nav__menu {
        height: 100%;
    }

    .nav__list a {
        font-size: 35px;
    }

    .header__logo {
        text-decoration: none;
    }

    #home {
        width: 152vh;
        height: 210vh;
    }

    #hero-image {
        height: 200vh;
        overflow: hidden;

    }

    .image-wrapper img {
        width: 180px;
    }

    .image-wrapper .img1,
    .image-wrapper .img2,
    .image-wrapper .img3 {
        height: 30rem;
    }

    .first-col {
        order: 2;
        font-size: 30px;
    }

    .image-wrapper::before {
        /* display: none; */
        top: 740px;

    }

    .image-wrapper img {
        width: 290px;
        height: 450px;
    }



    .second-col {
        order: 1;
        margin: 0 auto;
        padding: 0;
        height: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 60%;
    }

    #first-col {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    #name,
    #role,
    #role1 {
        text-align: center;
    }

    #name {
        font-size: 1.9em;
        margin-top: -20%;
    }

    #role {
        font-size: 1.1em;
        font-weight: lighter;
    }

    #role1 {
        font-size: 1.1em;
        font-weight: lighter;
    }

    #role-btn {
        font-size: 1em;
        font-family: var(--body-font);
        width: 40%;
        height: 80px;
        border-radius: 10px;
        margin-top: 50px;
    }


    /* what ido */
    #whoiam,
    #about {
        height: 150%;
        width: 152vh;
        margin: 0 auto;
        padding: 10%;
        display: flex;
        overflow: hidden;
    }

    #centerText {
        font-size: 30px;
    }

    #adjust {
        margin-bottom: 20px;
    }

    #adjustment {
        margin-top: 20px;
        margin-bottom: 100px;
    }

    #card1,
    #card2,
    #card3 {
        width: 60rem;
        height: 40rem;
    }

    #card1 img,
    #card2 img,
    #card3 img {
        height: 160px;
        width: 160px;
    }

    #card1 h5,
    #card2 h5,
    #card3 h5 {
        font-size: 50px;
    }

    #card1 p,
    #card2 p,
    #card3 p {
        font-size: 35px;
    }



    .card-body {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: auto;
    }


    #web,
    #web-row {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #web-card2 {
        margin-top: 9rem;
    }


    /* blogging */
    #blog {
        height: auto;
        width: 152vh;
    }

    #blogstart {
        display: none;
    }

    #blogtext1 {
        text-align: center;
        font-size: 35px;
    }

    #blog-col1 {
        padding: 0;
        margin: 0 auto;
        padding-top: 20%;
    }

    .blog-wrapper img {
        width: 150%;

    }

    .blog-wrapper .img1 {
        height: 40rem;
        width: 25rem;
    }

    .blog-wrapper .img3 {
        height: 40rem;
        width: 25rem;
    }

    #blog-col p {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #myBtn {
        font-size: 45px;
    }

    /* tooling */
    #tooling {
        width: 152vh;
        margin: 0 auto;
        padding: 0;
        height: auto;
    }

    .technologies {
        margin: 0;
        padding: auto;
        padding: 5%;
        height: 200vh;
        padding-top: 20%;
    }

    #tech-row {
        display: flex;
        margin: 0 auto;
        padding: 0;
    }

    #tech-hover {
        width: 35%;
        height: 75px;

    }

    #tech-col {
        height: 70px;

    }

    #tech-col img {
        height: auto;
        width: 40px;
    }

    #centerText20 {
        font-size: 30px;
    }

    /* projects */

    #proj {
        width: 152vh;
        height: auto;
    }

    .project-item {
        margin: 0 auto;
        padding: 0;
    }

    .project-content {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    #centerText10 {
        font-size: 30px;
        padding-top: 10%;
    }

    #centerText2 {
        font-size: 4em;
    }

    #proj .project-info h3 {
        font-size: 4em;
    }

    #proj .project-info p {
        font-size: 2.5em;
    }

    #proj .project-info button {
        margin-top: 5%;
        height: 120px;
        width: 350px;
        font-size: 2.5em;
        border-radius: 20px;

    }

    /* modal */
    .modal {
        width: 157vh;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .modal-dialog {
        width: 157vh;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .modal-backdrop {
        position: fixed;
        width: 157vh;
        height: 100%;
        background-color: #000;
    }

    .modal-content {
        width: 157vh;
    }


    /* footer */


    #f-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    #f-col {
        flex: none;
        width: 100%;
        text-align: center;
        padding: 10px 0;

    }

    #f-col p {
        font-size: 30px;
    }

    .nav__listeed {
        height: auto;
        margin: 0 auto;
        padding: 0;
    }



    .nav__listeed a {
        font-size: 30px;
        width: auto;
    }


    .f-nav__social-icons ion-icon {
        color: #fff;
    }

    .f-contact {
        font-weight: normal;
    }

    .f-name,
    .f-email,
    .f-number {
        margin-bottom: 5px;
        /* Adjust spacing between paragraphs */
        caret-color: transparent;
    }

    .nav__listid {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        margin-top: 10px;
    }

    .f-nav__social {
        margin: 0 10px;
    }

    #f-col ion-icon {
        width: 50px;
        /* Increase size for better touch targets */
    }


    .footer {
        height: 12rem;
        width: 152vh;
    }

    .abovethefooter {
        width: 152vh;
        height: 35rem;
    }

    .abovethefooter p {
        font-size: 30px;
    }

    .abovethefooter img {
        height: 8rem;
        width: 39rem;
    }

    .logos {
        width: 152vh;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

    .logos {
        width: 152vh;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .logos-slide {
        height: 10rem;

    }

    .logos-slide img {
        width: 300px;
    }

    #f-col {
        margin: 0 auto;
        padding: 0;
        display: flex;
    }
}

@media screen and (max-width: 500px) {

    body {
        max-width: 100vw;
        width: 100vw;
        height: auto;
    }

    .html {
        max-width: 100vw;
        width: 100vw;
        height: auto;
    }

    .header {
        height: 30vh;
        padding: 50px;
        caret-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .header__logo {
        font-size: 50px;
        caret-color: transparent;
        font-weight: bold;
    }

    .header__toggle {
        font-size: 5.9rem;
    }

    #nav-menu {
        height: 100%;
        overflow: hidden;
    }



    .nav__perfil {
        height: auto;
        padding: 5%;
        caret-color: transparent;
    }

    .nav__name img {
        width: 280px;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .nav__close {
        font-size: 80px;
        margin-top: 4%;
        margin-right: 3%;
    }

    .nav__list {
        padding-top: 15%;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

    }

    .nav__list a {
        font-size: 75px;
        padding: 5%;
    }

    .nav__menu {
        height: 100%;

    }

    .header__logo {
        text-decoration: none;
    }

    #home {
        width: 152vh;
        height: 250vh;
        overflow: hidden;
    }

    #hero-image {
        height: 250vh;
        overflow: hidden;

    }

    .image-wrapper img {
        width: 200px;
    }

    .image-wrapper::before {
        top: 920px;
    }

    .image-wrapper .img1,
    .image-wrapper .img2,
    .image-wrapper .img3 {
        height: 40rem;
        width: 20rem;
    }

    .first-col {
        order: 2;
        font-size: 30px;
    }

    .image-wrapper img {
        width: 290px;
        height: 450px;
    }



    .second-col {
        order: 1;
        margin: 0 auto;
        padding: 0;
        height: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        height: auto;
    }

    #first-col {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 15%;
    }

    #name,
    #role,
    #role1 {
        text-align: center;
    }

    #name {
        font-size: 2em;
    }

    #role {
        font-size: 1.3em;
        font-weight: lighter;

    }

    #role1 {
        font-size: 1.3em;
        font-weight: lighter;
        margin-bottom: 8%;
        margin-top: 5%;
    }

    #role-btn {
        font-size: 1.3em;
        font-family: var(--body-font);
        width: 40%;
        height: 90px;
        border-radius: 10px;
        margin-top: 50px;

        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0 auto;
    }


    /* what ido */
    #whoiam,
    #about {
        height: 150%;
        width: 152vh;
        margin: 0 auto;
        padding: 10%;
        display: flex;
        overflow: hidden;
    }

    .textto {
        padding-top: 10%;
    }

    #centerText {
        font-size: 40px;
    }

    #adjust {
        margin-bottom: 50px;
        margin-top: 10%;
    }

    #adjustment {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #card1,
    #card2,
    #card3 {
        width: 100rem;
        height: 50rem;
    }

    #card1 img,
    #card2 img,
    #card3 img {
        height: 200px;
        width: 200px;
        margin-bottom: 5%;
    }

    #card1 h5,
    #card2 h5,
    #card3 h5 {
        font-size: 60px;
        margin-bottom: 3%;
    }

    #card1 p,
    #card2 p,
    #card3 p {
        font-size: 39px;
    }



    .card-body {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: auto;
    }


    #web,
    #web-row {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #web-card2 {
        margin-top: 9rem;
    }


    /* blogging */
    #blog {
        height: auto;
        width: 152vh;
    }

    #blogstart {
        display: none;
    }

    #blogtext1 {
        text-align: center;
        font-size: 35px;
    }

    #blog-col {
        padding-top: 10%;
        padding: 5%;
    }

    #blog-col1 {
        padding: 0;
        margin: 0 auto;
        padding-top: 20%;
    }

    .blog-wrapper img {
        width: 150%;

    }

    .blog-wrapper .img1 {
        height: 40rem;
        width: 25rem;
    }

    .blog-wrapper .img3 {
        height: 40rem;
        width: 25rem;
    }

    #blog-col p {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #myBtn {
        font-size: 45px;
    }

    /* tooling */
    #tooling {
        width: 152vh;
        margin: 0 auto;
        padding: 0;
        height: 235vh;
    }

    .technologies {
        margin: 0;
        padding: auto;
        padding: 5%;
        height: 235vh;
        padding-top: 20%;
    }

    #tech-row {
        display: flex;
        margin: 0 auto;
        padding: 0;
        height: 0;
    }

    #tech-hover {
        width: 40%;
        height: 110px;

    }

    #tech-col {
        height: 90px;

    }

    .text {
        font-size: 30px;
    }

    #tech-col img {
        height: auto;
        width: 50px;
    }

    #centerText20 {
        font-size: 30px;
    }

    /* projects */

    #proj {
        width: 152vh;
        height: auto;
    }

    .project-item {
        margin: 0 auto;
        padding: 0;
    }

    .project-content {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    #centerText10 {
        font-size: 30px;
        padding-top: 10%;
    }

    #centerText2 {
        font-size: 6em;
    }


    #row-projects {
        flex-direction: column;
    }

    #proj .project-info h3 {
        font-size: 4em;
    }

    #proj .project-info p {
        font-size: 2.5em;
    }

    #proj .project-info button {
        margin-top: 5%;
        height: 120px;
        width: 350px;
        font-size: 2.5em;
        border-radius: 20px;

    }

    /* modal */
    .modal {
        width: 157vh;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .modal-dialog {
        width: 157vh;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .modal-backdrop {
        position: fixed;
        width: 157vh;
        height: 100%;
        background-color: #000;
    }

    .modal-content {
        width: 157vh;
    }


    /* footer */


    #f-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    #f-col {
        flex: none;
        width: 100%;
        text-align: center;
        padding: 10px 0;

    }

    #f-col p {
        font-size: 30px;
    }

    .nav__listeed {
        height: auto;
        margin: 0 auto;
        padding: 0;
    }



    .nav__listeed a {
        font-size: 30px;
        width: auto;
    }


    .f-nav__social-icons ion-icon {
        color: #fff;
    }

    .f-contact {
        font-weight: normal;
    }

    .f-name,
    .f-email,
    .f-number {
        margin-bottom: 5px;
        /* Adjust spacing between paragraphs */
        caret-color: transparent;
    }

    .nav__listid {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        margin-top: 10px;
    }

    .f-nav__social {
        margin: 0 10px;
    }

    #f-col ion-icon {
        width: 50px;
        /* Increase size for better touch targets */
    }

    .abovethefooter {
        width: 152vh;
        height: 35rem;
    }

    .abovethefooter p {
        font-size: 30px;
    }

    .abovethefooter img {
        height: 8rem;
        width: 39rem;
    }

    .section {
        margin: 0 auto;
        padding: 8%;
    }

    .logos {
        width: 152vh;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }

    #f-col {
        margin: 0 auto;
        padding: 0;
        display: flex;
    }
}

@media screen and (max-width: 400px) {

    body {
        max-width: 100vw;
        width: 100vw;
        height: auto;
        overflow-x: hidden;
    }

    .html {
        max-width: 100vw;
        width: 100vw;
        height: auto;
    }

    .header {
        height: 30vh;
        padding: 50px;
        caret-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .header__logo {
        font-size: 45px;
        caret-color: transparent;
        font-weight: bold;
    }

    .header__toggle {
        font-size: 4.5rem;
    }

    #nav-menu {
        height: 100%;
        overflow: hidden;

    }

    .nav__perfil {
        height: 15vh;
        padding: 5%;
        caret-color: transparent;
    }

    .nav__perfil img {
        width: 100px;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }


    .nav__close {
        font-size: 50px;
        margin-top: 3%;
        margin-right: 3%;
    }

    .nav__menu {
        height: 100%;
    }

    .nav__list a {
        font-size: 35px;
    }

    .header__logo {
        text-decoration: none;
    }

    #home {
        width: 152vh;
        height: 300vh;
    }

    #hero-image {
        height: 300vh;
        overflow: hidden;

    }

    .image-wrapper img {
        width: 200px;

    }

    .image-wrapper .img1,
    .image-wrapper .img2,
    .image-wrapper .img3 {
        height: 40rem;
    }

    .first-col {
        order: 2;
        font-size: 30px;
    }

    .image-wrapper::before {
        /* display: none; */
        top: 1050px;

    }

    .image-wrapper img {
        width: 290px;
        height: 450px;
    }



    .second-col {
        order: 1;
        margin: 0 auto;
        padding: 0;
        height: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 60%;

    }

    #first-col {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

    }

    #name,
    #role,
    #role1 {
        text-align: center;
    }

    #name {
        font-size: 2.5em;
        margin-top: -50%;
    }

    #role {
        font-size: 1.4em;
        font-weight: lighter;
    }

    #role1 {
        font-size: 1.4em;
        font-weight: lighter;
        padding-top: 5%;

    }

    #role1 a {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #role-btn {
        font-size: 1.5em;
        font-family: var(--body-font);
        width: 50%;
        height: 90px;
        border-radius: 10px;
        margin-top: 50px;
        text-align: center;

    }


    /* what ido */
    #whoiam,
    #about {
        height: 180%;
        width: 152vh;
        margin: 0 auto;
        padding: 5%;
        display: flex;
        overflow: hidden;
    }

    #centerText {
        font-size: 50px;
    }

    /* 
    #adjust {
        margin-bottom: 40px;
    }

    #adjustment {
        margin-top: 40px;
        margin-bottom: 100px;
    } */

    #card1,
    #card2,
    #card3 {
        width: 70rem;
        height: 50rem;
        margin-top: 20px;
    }

    #card1 img,
    #card2 img,
    #card3 img {
        height: 200px;
        width: 200px;
        margin-bottom: 20px;
    }

    #card1 h5,
    #card2 h5,
    #card3 h5 {
        font-size: 70px;
        margin-bottom: 20px;
    }

    #card1 p,
    #card2 p,
    #card3 p {
        font-size: 40px;
        width: auto;
    }



    .card-body {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: auto;
    }


    #web,
    #web-row {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #web-card2 {
        margin-top: 9rem;
    }


    /* blogging */
    #blog {
        height: 300vh;
        width: 152vh;
    }

    #blogstart {
        display: none;
    }

    #blogtext1 {
        text-align: center;
        font-size: 35px;
    }

    #blog-col1 {
        padding: 0;
        margin: 0 auto;
        padding-top: 20%;
    }

    .blog-wrapper img {
        width: 170%;

    }

    .blog-wrapper .img1 {
        height: 50rem;
        width: 30rem;
    }

    .blog-wrapper .img3 {
        height: 50rem;
        width: 30rem;
    }

    #blog-col {
        padding: 5%;
    }

    #blog-col p {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #myBtn {
        font-size: 45px;
    }

    /* tooling */
    #tooling {
        width: 152vh;
        margin: 0 auto;
        padding: 0;
        height: auto;
    }

    .technologies {
        margin: 0;
        padding: auto;
        padding: 5%;
        height: 200vh;
        padding-top: 10%;
    }

    #tech-row {
        display: flex;
        margin: 0 auto;
        padding: 0;
    }

    #tech-hover {
        width: 35%;
        height: 75px;

    }

    #tech-col {
        height: 70px;

    }

    #tech-col img {
        height: auto;
        width: 40px;
    }

    #centerText20 {
        font-size: 30px;
    }

    /* projects */

    #row-projects {
        flex-direction: column;
    }

    #proj {
        width: 152vh;
        height: auto;
    }

    .project-item {
        margin: 0 auto;
        padding: 0;
    }

    .project-content {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    #centerText10 {
        font-size: 30px;
        padding-top: 10%;
    }

    #centerText2 {
        font-size: 6.5em;
    }

    #proj .project-info h3 {
        font-size: 4em;
    }

    #proj .project-info p {
        font-size: 2.5em;
    }

    #proj .project-info button {
        margin-top: 5%;
        height: 120px;
        width: 350px;
        font-size: 2.5em;
        border-radius: 20px;

    }

    /* modal */
    .modal {
        width: 157vh;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .modal-dialog {
        width: 157vh;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .modal-backdrop {
        position: fixed;
        width: 157vh;
        height: 100%;
        background-color: #000;
    }

    .modal-content {
        width: 157vh;
    }


    /* footer */


    #f-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    #f-col {
        flex: none;
        width: 100%;
        text-align: center;
        padding: 10px 0;

    }

    #f-col p {
        font-size: 30px;
    }

    .nav__listeed {
        height: auto;
        margin: 0 auto;
        padding: 0;
    }



    .nav__listeed a {
        font-size: 30px;
        width: auto;
    }


    .f-nav__social-icons ion-icon {
        color: #fff;
    }

    .f-contact {
        font-weight: normal;
    }

    .f-name,
    .f-email,
    .f-number {
        margin-bottom: 5px;
        /* Adjust spacing between paragraphs */
        caret-color: transparent;
    }

    .nav__listid {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        margin-top: 10px;
    }

    .f-nav__social {
        margin: 0 10px;
    }

    #f-col ion-icon {
        width: 50px;
        /* Increase size for better touch targets */
    }


    .footer {
        height: 12rem;
        width: 152vh;
    }

    .abovethefooter {
        width: 152vh;
        height: 35rem;
    }

    .abovethefooter p {
        font-size: 30px;
    }

    .abovethefooter img {
        height: 8rem;
        width: 39rem;
    }

    .section {
        margin: 0 auto;
        padding: 5%;
    }

    .logos {
        width: 152vh;
        height: 18rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos-slide {
        height: 100%;
        width: 300%;
        margin-right: 10px;
        padding: 0;
        margin: 0 auto;

    }

    .logos-slide img {
        width: 30rem;
        margin: 0 40px;
    }



    #f-col {
        margin: 0 auto;
        padding: 0;
        display: flex;
    }
}