/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


/*===== VARIABLES CSS =====*/
:root {
    --header-height: 4.5rem;

    /*===== Colores =====*/
    --first-color: #3664F4;
    --dark-color: #070D1F;
    --navy-blue: #293241;
    --dark-color-alt: #282B3A;
    --white-color: #F5F9FF;

    /*===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Nunito ';
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*===== z index =====*/
    --z-fixed: 100;
}


@media screen and (min-width: 768px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }

    .container-fluid {

        overflow-x: hidden;
    }

    #whoiam {
        overflow-x: hidden;
    }

    #projects {
        overflow-x: hidden;
    }

}

/*===== BASE =====*/

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #ecf3fe;
}

.container-fluid {
    height: 100%;
    overflow-x: hidden;
}

.carousel {
    height: 80vh;
    background-color: #070D1F;

}

.carousel-inner {
    height: 80%;


}

.carousel-item,
.carousel-item img {
    height: 80%;

}

.carousel-inner img {
    height: 100vh;
}

#whoiam {
    height: 120%;
    padding: 10%;
}

#centerText2 {
    font-family: var(--body-font);
    font-size: 2.5rem;
    font-weight: bolder;
    color: #3c3c3c;
    margin-top: -10px;

}

#centerText {
    font-family: var(--body-font);
    font-size: 80%;
    column-gap: 1;
    font-weight: lighter;
    letter-spacing: 5px;
    color: #686868;

}




.card {
    width: 18rem;
    height: 15rem;
    /* background-color: #eaf3ff; */
    border: none;
    border-width: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card h5 {
    margin-top: 15px;
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 13px;
}

.card-body {
    background-color: #e9ecef;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card-body p {
    text-align: center;
    font-family: var(--body-font);
    font-weight: lighter;
    color: #686868;
    font-size: 12px;
}

#projects {
    max-width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;


}


#projects .col {
    background-color: #282B3A;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

#projects .project-content {
    position: relative;
}

#projects img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 1s ease;
    display: block;
}

#projects img:hover {
    transform: scale(1.2);
    cursor: pointer;
    z-index: 1;
}

#projects .project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15%;
    border-radius: 5px;
}

#projects .project-info h3 {
    margin-bottom: 10px;
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 18px;
}

#projects .project-info p {
    margin-bottom: 10px;
    font-family: var(--body-font);
    font-weight: lighter;
    font-size: 12px;
}

#projects .project-info a {
    display: inline-block;
    margin-top: 10px;
    background-color: #282B3A;
    border-radius: 10px;
    width: 8rem;
    height: 2.5rem;

}

#projects .project-content:hover .project-info {
    opacity: 1;
}


#projects .project-content:hover img {
    transform: scale(1.1);

}

/* Tools */

#tools {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.technologies {
    max-width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
}

#tech-row {
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

#tech-col {
    border: 1px solid #293241;
    background-color: #293241;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ecf3fe;
}



#tech-hover :hover {
    background-color: #070D1F;
    border-color: #070D1F;
    color: #ecf3fe;
}

#tech-hover span {
    margin-left: 5%;
}

.carousel-caption h5 {
    font-family: var(--body-font);
}

.name {
    font-size: 5rem;
    letter-spacing: 10px;
}

.btn-class {

    background-color: #e9ecef;
    border: none;
    border-radius: 20px;
    width: 8rem;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}